@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #edf0f1;
  background-color: #24252a;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30x 10%;
}
.main-body {
  /* off white */
  /* background-color: blue; */
  background-color: #24252a;
  height: 100%;
  margin: 0;
}

.navbar {
  display: block;
  height: 50px;
  line-height: 50px;
  margin-right: auto;
}

.navbar-links {
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-links a {
  transition: all 0.3s ease 0s;
}

.navbar-links a:hover {
  color: #0088a9;
}
.landing-section {
  background-image: url('../images/angu-biking.jpg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: auto;
}
.floating-card {
  /* background-color: rgba(65, 57, 57, 0.2); */
  margin: 1em 10em 1em 10em;
  padding: 2em 10em 2em 10em;
}
.floating-card p {
  font-style: italic;
  /* background-color: rgba(65, 57, 57, 0.2); */
}
.floating-card p:hover {
  background-color: rgba(65, 57, 57, 0.7);
}
.container {
  padding: 2px 16px;
  width: 332px;
  height: 350px;
  margin-right: 30%;
  border-radius: 10px;
  background-color: rgba(58, 53, 53, 0.2);
}
.container:hover {
  background-color: rgba(58, 53, 53, 0.5);
}
.container h1 {
  color: #edf0f1;
  padding: 20px 20px 5px 20px;
  background-color: rgba(240, 240, 240, 0);
}

.container p {
  color: #edf0f1;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0);
}
.container a {
  color: #edf0f1;
  font-style: italic;
  background-color: rgba(240, 240, 240, 0);
}
.header {
  color: #edf0f1;
  /* color: #f2f1da; */
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  border-radius: 10px;
  background-color: rgba(58, 53, 53, 0.2);
}
.footer:hover {
  background-color: rgba(58, 53, 53, 0.5);
}
.footer p {
  color: #edf0f1;
  font-size: 9px;
  padding: 80px 50px 5px 10px;
}

.blog-div {
  text-align: center;
}
.blog-div h1 {
  font-size: 50px;
  font-weight: 700;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog-div h2 {
  margin-top: 50px;
  padding: 20px 50px 10px 50px;
}

.blog-div p {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  /* text-align: justify; */
  text-align: left;
  line-height: 1.5;
}

.blog-div figure {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  font-size: 9px;
}

.blog-div img {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 70%;
  height: auto;
}

.blog-div ul {
  margin-left: 20%;
  margin-right: auto;
  text-align: left;
}

.blog-div ol {
  padding-left: 100px;
  padding-right: 50px;
  /* text-align: justify; */
  text-align: left;
  line-height: 1.5;
}

.img-row::after {
  display: flex;
}

.img-column {
  flex: 33.33%;
  padding: 5px;
}

#blog-list {
  padding-top: 5em;
  line-height: 1.5;
}

.bold-style {
  font-weight: bold;
}

/* Code containers for examples */

.code-container {
  background-color: #1a1919;
  border: 1px solid #999;
  border-radius: 10px;
  display: block;
  padding: 20px;
  text-align: left;
  font-size: 13px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  .blog-div img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 50%;
    height: auto;
  }

  .floating-card {
    /* background-color: rgba(65, 57, 57, 0.2); */
    margin: 0;
    padding: 30px 20px 30px 20px;
  }
}
