@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #edf0f1;
  background-color: #24252a;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30x 10%;
}
.main-body {
  /* off white */
  /* background-color: blue; */
  background-color: #24252a;
  height: 100%;
  margin: 0;
}

.navbar {
  display: block;
  height: 50px;
  line-height: 50px;
  margin-right: auto;
}

.navbar-links {
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-links a {
  transition: all 0.3s ease 0s;
}

.navbar-links a:hover {
  color: #0088a9;
}
.landing-section {
  background-image: url('../images/angu-olive.jpg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  display: flex;
  margin: auto;
}

.container {
  padding: 2px 16px;
  width: 332px;
  height: 350px;
  margin-right: 500px;
  border-radius: 10px;
  background-color: rgba(58, 53, 53, 0.2);
}
.container:hover {
  background-color: rgba(58, 53, 53, 0.5);
}
.container h1 {
  color: #edf0f1;
  padding: 20px 20px 5px 20px;
  background-color: rgba(240, 240, 240, 0);
}

.container p {
  color: #edf0f1;
  padding: 10px;
  background-color: rgba(240, 240, 240, 0);
}
.header {
  color: #edf0f1;
  /* color: #f2f1da; */
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  border-radius: 10px;
  background-color: rgba(58, 53, 53, 0.2);
}
.footer:hover {
  background-color: rgba(58, 53, 53, 0.5);
}
.footer p {
  color: #edf0f1;
  font-size: 9px;
  padding: 80px 50px 5px 10px;
}
